@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>
    The group members are:
    <ul>
        <li>Brandon Ly</li>
        <li>Beteab Gebru</li>
        <li>Joe Miller</li>
        <li>Timly Moua</li>
    </ul>
</p>