@model CoursePlannerTwo.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="credits" class="control-label"></label>
                <input asp-for="credits" class="form-control" />
                <span asp-validation-for="credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prereqs" class="control-label"></label>
                <input asp-for="prereqs" class="form-control" />
                <span asp-validation-for="prereqs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseNum" class="control-label"></label>
                <input asp-for="courseNum" class="form-control" />
                <span asp-validation-for="courseNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="offeredIn" class="control-label"></label>
                <input asp-for="offeredIn" class="form-control" />
                <span asp-validation-for="offeredIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department" class="control-label"></label>
                <input asp-for="department" class="form-control" />
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

